body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: black;
}

header p {
    font-size: 1.1em;
    color: black;
}

main h1, main h3 {
    color: black;
    margin-top: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

b {
    color: #2c3e50;
}

button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: powderblue;
}

button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

button:hover {
    background-color: powderblue;
    cursor: pointer;
}

hr {
    margin: 30px 0;
}
